/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

.hide {
	display: none;
}

.hide-p {
	display: none;
}

body {
  font-family: 'Roboto', 'Roboto Condensed', sans-serif;
	line-height: 1.7;
	color: #4a4a4a;
	background-color: #fafafa;
	text-align: center;
	width: 100%;
	margin: auto;
}

a {
	text-decoration: none;
	color: #4a4a4a;
	transition: .4s;
}

a:hover {
	color: #000;
}

.main-nav ul li a:hover {
	background-color: #FEFFF2;
}

p {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;

}

ul li {
	list-style: none;
}

footer,
header {
	background-color: #fafafa;
	width: 100%;
}

img {
	width: 100%;
}

h1,
h2,
h3 {
	margin: 0;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Avatar image ---- */

.avatar-image {
	margin: 37px 39px 16px 39px;
}

/* ---- Navigation ---- */
.name {
	padding: 0.5em 0;
	text-transform: capitalize;
	font-size: 1.5em;
}

.main-nav ul li a {
	display: list-item;
	background-color: #fff;
	margin-bottom: 0.4em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	padding: 0.4em 0;
}

.header-wrap {
	margin: auto 1.1em;
}

.introduction p {
	padding-bottom: 2.4em;
}

/* ---- Portfolio ---- */

.portfolio-name {
	font-size: 1em;
	padding: 2.5em 0;
	text-transform: uppercase;
}

.port {
	margin: 0 1.1em;
}

.portfolio-text {
	padding: 1.6em 0;
}

.portfolio-text p {
	margin: 0 1.7em;
}

.portfolio-wrap {
	padding-bottom: 2.9em;
	background-color: #ededed;           /* <-----Alternative color variation for main section background - #818e99 (darker grey) or #fff   */
	color: #515c66;
}


/* ---- Skills ---- */

.skills-name {
	font-size: 1.2em;
	padding: 2.8em 0 2em 0;
	text-transform: uppercase;
	color: #fff;
}

.skills {
	background-color: #626f7e;          /* <-----Background color for skill section   */
	padding-bottom: 3.7em;
}

.skills-list ul li {
	text-align: left;
	width: 100%;
	color: #fff;
	font-size: 110%;
}

.skills-list {
	margin: 0 1.1em;
}

.s-container {                        /* <-----Skill bar styling   */
	width: 95%;
	height: 28px;
	border-radius: 4px;
	background-color: #fff;
	margin: .5em auto;
	position: relative;
}

.skill {                              /* <-----Progress bar inside skill bar   */
	height: 22px;
	border-radius: 4px;
	background-color: #e67670;
	margin: 3px 4px;
	position: absolute;
	vertical-align: middle;
}


.ps {                                 /* <-----Different skill %   */
	width: 75%;
	position: absolute;
}

.illustrator {
	width: 90%;
	position: absolute;
}

.html {
	width: 70%;
	position: absolute;
}

.css {
	width: 76%;
	position: absolute;
}

.js {
	width: 60%;
	position: absolute;
}

/* ---- Footer ---- */

.contact-name {
	font-size: 1em;
	padding: 3.3em 0 1.2em 0;
	text-transform: uppercase;
}

.contact-wrap {
	margin: 0 1.1em;
}

.contact-info {
	padding: 1.3em 0 3.4em 0;
	line-height: 2.4;
	font-size: 1em;
}

.footer-container {
	padding: 2em 0 3em 0;
	border-top: 1px solid #e7e7e7;
}

.footer-name {
	float: left;
	font-size: .95em;
}

.footer-nav {
	float: right;
	text-transform: uppercase;
	font-size: .9em;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {                         /* <<<<---- Styling for tablets ---- */

	.main-nav ul li a:hover {
		background-color: transparent;
	}

	/* ---- Avatar image ---- */

	.avatar-image {
		float: right;
		padding: 0;
		margin: 0;
		width: 38%;
	}

	/* ---- Navigation ---- */

	header {
		padding-bottom: 3em;
	}

	.name {
		padding: 1.7em 0 1em 0;
	}

	.main-nav {
		padding-bottom: 3em;
	}

	.main-nav ul li {
		display: inline-block;
	}

	.main-nav ul li a {
		display: inline-block;
		background-color: #fafafa;
		padding: 0 1.3em;
	}

	.header-wrap {
		margin: auto 1.1em;
	}

	.introduction {
		margin: 0 13px;
	}

	.introduction-p {
		float: left;
		text-align: left;
		display: inline-block;
		margin-right: 12px;
		padding: 0;
		width: 60%;
	}

	/* ---- Portfolio ---- */

	.col {
		margin: 0;
		width: 49.3%;
		padding: 0 3px 12px;
		display: inline-block;
		vertical-align: top;
	}

	.portfolio-name {
		font-size: 1em;
		padding: 2.5em 0;
		text-transform: uppercase;
	}

	.port-image-wrap {
		margin: 0 23px;
	}

	.port {
		margin: auto;
		padding: 0;
		width: 100%;
	}

	.portfolio-text {
		padding: 0;
		margin: auto;
		display: inline-block;
	}

	.portfolio-text h3 {
		display: inline-block;
		padding-top: 15px;
	}

	.portfolio-text p {
		display: inline-block;
		margin: 0;
		padding: 15px 21px 45px 15px;
		width: 100%;
	}

	.portfolio-wrap {
		padding: 0;
	}

	/* ---- Skills ---- */

	.skills-wrap {
		margin: 0 5%;
	}

	/* ---- Footer ---- */

	.contact-wrap {
		margin: 0 1.5em;
	}

	.contact {
		padding: 0 6.5em;
	}

	.contact-info {
		padding: 1.8em 0 3.4em 0;
		line-height: 2.4;
		font-size: 1em;
	}

	.footer-container {
		padding: 1.3em 0 3.5em;
		border-top: 1px solid #e7e7e7;
	}

	.footer-name {
		float: left;
		font-size: .95em;
	}

	.footer-nav {																			/* <<<<---- Footer back to top button ---- */
		display: none;
	}

	.hide { 																				 /* <<<<---- Footer navigation buttons ---- */
		display: block;

	}

	.hide li {
		float: right;
		text-transform: uppercase;
		font-weight: bold;
		display: inline;
		font-size: .85em;
		padding-left: 1.5em;
	}

}

@media (min-width: 1024px) {                        /* <<<<---- Styling for desktops ---- */

	/* ---- Navigation ---- */

	.avatar-image {
		width: 40%;
	}

	.introduction {
		margin: 0;
	}

	.hide-p {
		padding-right: 2em;
		margin: 0;
		display: inline-block;
		float: left;
		width: 60%;
		text-align: left;

	}

	#hide-pp {
		display: none;
	}

	.main-nav {
		padding: 3em 0;
		display: inline-block;
	}

	.main-nav ul {
		display: inline-block;
		float: right;
		margin: 5px 0;
	}

	.main-nav ul li a {
		display: inline-block;
		padding: 0 0 0 1.5em;
		margin: auto 0;
	}

	.main-nav h1 {
		display: inline-block;
		padding: 0;
		font-size: 1.3em;
		float: left;
	}

	.main-nav {
		display: block;
	}

	.header-wrap {
		margin: 0 4em;
	}

/* ---- Portfolio ---- */

	.port-image-wrap {
		margin: 0 24px;
	}

	.portfolio-wrap {
		margin: 0 1.5em;
	}

	.col {
		display: inline-block;
		vertical-align: top;
		width: 33%;
		margin: 0;
		padding: 0 4.5px;
	}

	.portfolio-text p {

		padding-bottom: 55px;

	}

	/* ---- Skills ---- */

	.skills {
		margin: 0 1.5em;
	}

	/* ---- Contact ---- */

	.contact {
		padding: 0 15em;
	}

	.footer-container {
		padding: 1.3em 0;
	}

}


/* ---- Float clearfix ---- */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* =================================
  Media Queries #EXTRA for max-width: 260px #
==================================== */

@media (max-width: 260px) {
	.avatar-image {
		margin: auto;
		width: 100%;
	}
}
